@charset "UTF-8";
body {
  background-color: rgba(25, 28, 30);
  font-family: exo;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.top {
  background-image: radial-gradient(circle, rgba(34, 36, 38), rgba(25, 28, 30));
  background-size: cover;
  background-position: center;
}
.logo {
  text-decoration: none;
  color: #e2e2e5;
}
ul.navbar li {
  display: inline-block;
}
ul.navbar li a {
  text-decoration: none;
  color: #e2e2e5;
}
.main {
  justify-content: center;
  display: flex;
  align-items: center;
}
.main-text {
  color: #e2e2e5;
}
.main-image {
  max-width: 500px;
  height: auto;
}