<header class="sticky-top">
  <nav class="navbar navbar-expand-md bg-dark">
    <div class="container-md">
      <a href="/" class="navbar-brand d-inline-flex align-items-center"><svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256" width="1.25em" fill="currentColor" class="me-2">
          <path
            d="m234.29,201.24l-23.99-41.55-61.52-106.56-20.78-35.98-20.78,35.98-61.52,106.56-23.99,41.55L0,238.86h38.39l22.18-37.62h46.66v37.62h41.55v-116.07l21.3,36.9,23.99,41.55,21.71,37.62h40.22l-21.71-37.62Zm-149.24-41.55l22.18-37.62v37.62h-22.18Z" />
        </svg>Aaron Miller</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cv/">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects/">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://aa-mill.github.io/blog/">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> 